.footer {
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #ce1126; /* couleur rouge du drapeau du Cameroun */
  color: #fcd116; /* couleur jaune du drapeau du Cameroun */
  font-family: "Bahnschrift", system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Centrage vertical et hauteur adaptée */
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - var(--navbar-height));
  /* height: 100vw; */
  overflow: hidden;
  padding: 0 20px;
}

.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 40px;
  margin: 20px 0 0 80px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo,
.footer-services,
.footer-contact {
  flex: 1 1 30%;
  min-width: 280px;
}

.footer-bottom {
  text-align: center;
  margin: 10px 20px;
  font-size: 0.9rem;
  width: 100%;
  margin-top: 50px;
}

.footer-logo img {
  width: 100%;
  height: auto;
  max-width: 150px;
}

.slogan {
  font-style: normal;
  transform: skewX(-10deg);
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 15px;
  text-align: center;
}

.social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
  padding: 10px 60px 10px 60px;
}

.social-icon {
  font-size: 28px;
  color: #323333;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #007a5e;
}

.footer-services h3,
.footer-contact h3 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 5px;
}

.footer-contact p a {
  color: #fcd116;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-contact p a:hover {
  color: #007a5e;
}

.footer-services ul {
  list-style: none;
  padding: 0;
}

.footer-services ul li {
  margin-bottom: 10px;
  line-height: 1.8;
}

.footer-services ul li a {
  color: #fcd116;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-services ul li a:hover {
  color: #ffffff;
}

.flag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 40px 0 0 400px;
  max-width: 800px;
  border-radius: 10px;
  background-color: #f5f5dc;
  color: #323333;
}

.flag-container p {
  margin-right: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.flag-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.flag-icon {
  width: 50px;
  height: 36px;
  border-radius: 10px;
}

.flag-blur {
  filter: blur(2px);
  transition: filter 0.3s ease;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo,
  .footer-services,
  .footer-contact {
    width: 100%;
    padding: 20px 0;
  }
}
